---
title: Folio
---
extends layouts/_layout
block content
	.main
		+header
		.main__bg
			img.main__pic(src="img/bg-main.jpg" alt="")
		.main__center.center
			.main__wrap
				.main__stage.stage(data-aos="transform") Jack Gross
				h1.main__title.title.h1
					span(data-aos="transform" data-aos-delay="150") Hello, my
					span(data-aos="transform" data-aos-delay="300") name's Jack.
					span(data-aos="transform" data-aos-delay="450") I'm a Visual
					span(data-aos="transform" data-aos-delay="600") Designer.
				a.scroll.js-scroll(href="#details" data-aos="transform")
					.scroll__icon
						img.scroll__pic(src="img/scroll.svg" alt="")
					.scroll__text Scroll down
		.main__view(data-aos)
			.main__preview
				img.main__pic(src="img/main-pic-6.png" alt="")
			.main__preview
				img.main__pic.js-parallax(data-scale="2.5" data-orientation="up" src="img/main-pic-1.png" alt="")
			.main__preview
				img.main__pic.js-parallax(data-scale="1.5" data-orientation="up" src="img/main-pic-2.png" alt="")
			.main__preview
				img.main__pic(src="img/main-pic-3.png" alt="")
			.main__preview
				img.main__pic(src="img/main-pic-4.png" alt="")
			.main__preview
				img.main__pic.js-parallax(data-scale="4.5" data-orientation="up" src="img/main-pic-5.png" alt="")
			.main__preview
				img.main__pic.js-parallax(data-scale="1.5" data-orientation="down" src="img/main-pic-7.png" alt="")
		.main__figures
			.main__figure(data-aos="animation-translate-y")
				img.main__pic.js-parallax(data-scale="2.2" data-orientation="down" src="img/figure-1.png" alt="")
			.main__figure(data-aos="animation-translate-y" data-aos-delay="200")
				img.main__pic.js-parallax(data-scale="2.2" data-orientation="up" src="img/figure-2.png" alt="")
			.main__figure(data-aos="animation-translate-y" data-aos-delay="400")
				img.main__pic(src="img/figure-3.png" alt="")
	.details#details
		.details__center.center
			.details__head(data-aos="animation-scale-y")
				.details__stage.stage What I Do
				h3.details__info.h3 I enjoy creating delightful,  <br>human-centered digital experiences.
			h2.details__title(data-aos="animation-scale-y") Think. Make. <br>Solve. 
			.details__btn(data-aos="animation-translate-y")
				button.btn.btn_purple
					span.btn__text Contact Me
					+i('arrow-right')
			.details__container
				.details__slider.owl-carousel.js-slider-details
					.details__item
						.details__preview.details__preview_cursor(data-aos="animation-scale")
							.details__img
								img.details__pic(src="img/cursor.png" alt="")
						h5.details__category.h5(data-aos="animation-scale-y") User Interface
						.details__text(data-aos="animation-scale-y") We have got quite a few already made templates for better project management that you can use now.
						.details__btn(data-aos="animation-scale-y")
							button.btn.btn_dark Find out more 
					.details__item
						.details__preview.details__preview_hand(data-aos="animation-scale" data-aos-delay="150")
							.details__img
								img.details__pic(src="img/hand.png" alt="")
						h5.details__category.h5(data-aos="animation-scale-y" data-aos-delay="150") User Experience
						.details__text(data-aos="animation-scale-y" data-aos-delay="150") We have got quite a few already made templates for better project management that you can use now.
						.details__btn(data-aos="animation-scale-y" data-aos-delay="150")
							button.btn.btn_dark Find out more 
					.details__item
						.details__preview.details__preview_color(data-aos="animation-scale" data-aos-delay="300")
							.details__img
								img.details__pic(src="img/color-picker.png" alt="")
						h5.details__category.h5(data-aos="animation-scale-y" data-aos-delay="300") UI Design Kit
						.details__text(data-aos="animation-scale-y" data-aos-delay="300") We have got quite a few already made templates for better project management that you can use now.
						.details__btn(data-aos="animation-scale-y" data-aos-delay="300")
							button.btn.btn_dark Find out more 
					.details__item
						.details__preview.details__preview_cursor
							.details__img
								img.details__pic(src="img/cursor.png" alt="")
						h5.details__category.h5 User Interface
						.details__text We have got quite a few already made templates for better project management that you can use now.
						button.details__btn.btn.btn_dark Find out more 
					.details__item
						.details__preview.details__preview_hand
							.details__img
								img.details__pic(src="img/hand.png" alt="")
						h5.details__category.h5 User Experience
						.details__text We have got quite a few already made templates for better project management that you can use now.
						button.details__btn.btn.btn_dark Find out more
					.details__item
						.details__preview.details__preview_color
							.details__img
								img.details__pic(src="img/color-picker.png" alt="")
						h5.details__category.h5 UI Design Kit
						.details__text We have got quite a few already made templates for better project management that you can use now.
						button.details__btn.btn.btn_dark Find out more
		.details__figures
			.details__figure
				img.details__pic.js-parallax(data-scale="2" data-orientation="down" src="img/figure-1.png" alt="")
			.details__figure
				img.details__pic.js-parallax(data-scale="2" data-orientation="up" src="img/figure-2.png" alt="")
			.details__figure
				img.details__pic.js-parallax(data-scale="1.2" data-orientation="up" src="img/figure-3.png" alt="")
		a.details__contact(href="#") Contact me
	.work
		.work__circles
		.work__center.center
			.work__wrap
				.work__stage.stage.stage_pink(data-aos="animation-scale-y") Who I Work With
				h2.work__title.title.h1(data-aos="animation-scale-y" data-aos-delay="150") Art Direction for Global Leading Brands.
				.work__text(data-aos="animation-scale-y" data-aos-delay="300") I research and create breakthrough - delightful ideas, leading visual designers.
				a.scroll.js-scroll(data-aos="animation-scale-y" href="#cases")
					.scroll__icon
						img.scroll__pic(src="img/scroll.svg" alt="")
					.scroll__text Scroll down
		.work__preview
			img.work__pic.js-parallax(data-scale="2" data-orientation="down" src="img/work-cube.png" alt="")
		.work__figures(data-aos)
			.work__figure
				img.work__pic.js-parallax(data-scale="1.3" data-orientation="up" src="img/work-cube-1.png" alt="")
			.work__figure
				img.work__pic.js-parallax(data-scale="1.5" data-orientation="up left" src="img/work-cube-2.png" alt="")
			.work__figure
				img.work__pic.js-parallax(data-scale="1.3" data-orientation="up right" src="img/work-cube-3.png" alt="")
			.work__figure
				img.work__pic(src="img/work-cube-4.png" alt="")
			.work__figure
				img.work__pic.js-parallax(data-scale="1.1" data-orientation="left" src="img/work-cube-5.png" alt="")
			.work__figure
				img.work__pic.js-parallax(data-scale="1.2" data-orientation="right" src="img/work-cube-6.png" alt="")
			.work__figure
				img.work__pic.js-parallax(data-scale="1.2" data-orientation="down" src="img/work-cube-7.png" alt="")
	.wrapper.wrapper_gradient
		.cases.cases_main#cases
			.cases__center.center
				.cases__stage.stage(data-aos="animation-scale-y") Portfolio
				h2.cases__title.h1(data-aos="animation-scale-y" data-aos-delay="150") Look at My <br>Products.
				.cases__nav(data-aos="animation-scale-y" data-aos-delay="300")
					a.cases__link.active(href="#") Website
					a.cases__link(href="#") Illustration
					a.cases__link(href="#") Mobile
				.cases__list.js-owl(data-items-mobile-portrait="1" data-items-mobile-album="1" data-autoheight)
					mixin casesItem(src, delay)
						a.cases__item(data-aos="animation-translate-y" data-aos-delay=delay href="case.html")
							.cases__preview
								img.cases__pic(src=src alt="")
								.cases__box Case <br>Study
							.cases__body
								h4.cases__info.h4 Collab Landing Page
								.cases__text UI Kit, Coded Template
					+casesItem('img/cases-pic-1.jpg', '')
					+casesItem('img/cases-pic-2.jpg', '200')
					+casesItem('img/cases-pic-3.jpg', '')
					+casesItem('img/cases-pic-4.jpg', '200')
					+casesItem('img/cases-pic-5.jpg', '')
					+casesItem('img/cases-pic-6.jpg', '200')
			.cases__figures
				.cases__figure
					img.cases__pic.js-parallax(data-scale="2" data-orientation="down" src="img/figure-2.png" alt="")
				.cases__figure
					img.cases__pic.js-parallax(data-scale="1.8" data-orientation="down" src="img/figure-3.png" alt="")
		.review
			.review__center.center
				.review__stage.stage(data-aos="animation-scale-y") What People Say
				h2.review__title.title.h1(data-aos="animation-scale-y" data-aos-delay="200") Trusted by <br>Clients.
				.review__container(data-aos="animation-translate-y" data-aos-delay="400")
					.review__slider.owl-carousel.js-slider-review
						.review__item
							.review__text “ Folio Designer is a clean and creative landing page that matches with any freelancer or designer, you can easily to build the page in Sketch or Figma.”
							.review__author
								.review__ava
									img.review__pic(src="img/ava-1.jpg" alt="")
								.review__details
									.review__man.h5 Dash
									.review__company UI8
						.review__item
							.review__text “ Folio Designer is a clean and creative landing page that matches with any freelancer or designer, you can easily to build the page in Sketch or Figma.”
							.review__author
								.review__ava
									img.review__pic(src="img/ava-1.jpg" alt="")
								.review__details
									.review__man.h5 Dash
									.review__company UI8
						.review__item
							.review__text “ Folio Designer is a clean and creative landing page that matches with any freelancer or designer, you can easily to build the page in Sketch or Figma.”
							.review__author
								.review__ava
									img.review__pic(src="img/ava-1.jpg" alt="")
								.review__details
									.review__man.h5 Dash
									.review__company UI8
						.review__item
							.review__text “ Folio Designer is a clean and creative landing page that matches with any freelancer or designer, you can easily to build the page in Sketch or Figma.”
							.review__author
								.review__ava
									img.review__pic(src="img/ava-1.jpg" alt="")
								.review__details
									.review__man.h5 Dash
									.review__company UI8
			.review__bg
				.review__preview
					img.review__pic.js-parallax(data-scale="1.5" data-orientation="down" src="img/review-cube.png" alt="")
				.review__preview
					img.review__pic(src="img/review-cube.png" alt="")
		+wrapperDark







