//- Description no longer than 155 characters
meta(name="description" content="Production-ready Portfolio and Case Study Template for Visual Designers") 
//- Twitter Card data
meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="@ui8")
meta(name="twitter:title" content="Folio Designer") 
meta(name="twitter:description" content="Production-ready Portfolio and Case Study Template for Visual Designers") 
meta(name="twitter:creator" content="@ui8")
//- Twitter Summary card images must be at least 120x120px
meta(name="twitter:image" content="https://ui8-folio.herokuapp.com/img/twitter-card.jpg")
//- Open Graph data
meta(property="og:title" content="Folio Designer") 
meta(property="og:type" content="Article")
meta(property="og:url" content="https://ui8.net/ui8/products/folio-designer")
meta(property="og:image" content="https://ui8-folio.herokuapp.com/img/fb-og-image.jpg")
meta(property="og:description" content="Production-ready Portfolio and Case Study Template for Visual Designers" ) 
meta(property="og:site_name" content="Folio Designer")
meta(property="fb:admins" content="132951670226590")